In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20190101', periods=6)
dates

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2019-01-01 -0.761553  0.858844 -1.564301  0.123593
2019-01-02 -0.172618 -0.396649 -1.263353  0.139715
2019-01-03 -0.446041  0.188007 -0.394292 -1.341277
2019-01-04  0.994288 -1.071001  1.214801 -0.081442
2019-01-05  0.166061 -0.087844  1.044187 -0.847097
2019-01-06 -0.776054 -2.415099  0.986508  0.118859

In [5]:
df2 = pd.DataFrame({'A': 1., 'B': pd.Timestamp('20130102'), 'C': pd.Series(1, index=list(range(4)), dtype='float32'), 'D': np.array([3] * 4, dtype='int32'),
'E': pd.Categorical(["test", "train", "test", "train"]),'F': 'foo'})

In [6]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [17]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [7]:
df.head()

                   A         B         C         D
2019-01-01 -0.761553  0.858844 -1.564301  0.123593
2019-01-02 -0.172618 -0.396649 -1.263353  0.139715
2019-01-03 -0.446041  0.188007 -0.394292 -1.341277
2019-01-04  0.994288 -1.071001  1.214801 -0.081442
2019-01-05  0.166061 -0.087844  1.044187 -0.847097

In [8]:
df.head(3)

                   A         B         C         D
2019-01-01 -0.761553  0.858844 -1.564301  0.123593
2019-01-02 -0.172618 -0.396649 -1.263353  0.139715
2019-01-03 -0.446041  0.188007 -0.394292 -1.341277

In [9]:
df.tail()

                   A         B         C         D
2019-01-02 -0.172618 -0.396649 -1.263353  0.139715
2019-01-03 -0.446041  0.188007 -0.394292 -1.341277
2019-01-04  0.994288 -1.071001  1.214801 -0.081442
2019-01-05  0.166061 -0.087844  1.044187 -0.847097
2019-01-06 -0.776054 -2.415099  0.986508  0.118859

In [10]:
df.tail(3)

                   A         B         C         D
2019-01-04  0.994288 -1.071001  1.214801 -0.081442
2019-01-05  0.166061 -0.087844  1.044187 -0.847097
2019-01-06 -0.776054 -2.415099  0.986508  0.118859

In [11]:
df.index

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
df.to_numpy()

array([[-0.76155317,  0.85884369, -1.56430117,  0.1235928 ],
       [-0.17261829, -0.39664868, -1.26335263,  0.13971475],
       [-0.44604089,  0.18800676, -0.39429176, -1.34127746],
       [ 0.99428789, -1.07100083,  1.21480054, -0.08144169],
       [ 0.16606098, -0.08784366,  1.04418665, -0.84709724],
       [-0.77605416, -2.41509871,  0.98650817,  0.11885914]])

In [15]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [16]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.165986 -0.487290  0.003925 -0.314608
std    0.672584  1.139565  1.244005  0.629013
min   -0.776054 -2.415099 -1.564301 -1.341277
25%   -0.682675 -0.902413 -1.046087 -0.655683
50%   -0.309330 -0.242246  0.296108  0.018709
75%    0.081391  0.119044  1.029767  0.122409
max    0.994288  0.858844  1.214801  0.139715

In [17]:
df.A

2019-01-01   -0.761553
2019-01-02   -0.172618
2019-01-03   -0.446041
2019-01-04    0.994288
2019-01-05    0.166061
2019-01-06   -0.776054
Freq: D, Name: A, dtype: float64

In [19]:
df.A.mean()

-0.16598627270794397

In [22]:
df.A

2019-01-01   -0.761553
2019-01-02   -0.172618
2019-01-03   -0.446041
2019-01-04    0.994288
2019-01-05    0.166061
2019-01-06   -0.776054
Freq: D, Name: A, dtype: float64