In [3]:
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame(np.random.randint(10, size=(3, 4)))
df

   0  1  2  3
0  4  7  3  0
1  5  2  4  4
2  4  6  7  3

In [15]:
df = pd.DataFrame(np.repeat(np.arange(10),3).reshape(10,3),columns=list('RGB'))
df

   R  G  B
0  0  0  0
1  1  1  1
2  2  2  2
3  3  3  3
4  4  4  4
5  5  5  5
6  6  6  6
7  7  7  7
8  8  8  8
9  9  9  9

In [16]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [31]:
x = np.ndarray(3)
x

array([0.00000000e+000, 2.12199579e-314, 2.12199579e-314])

In [18]:
bb

array([[0, 0, 0],
       [1, 1, 1],
       [2, 2, 2],
       [3, 3, 3],
       [4, 4, 4],
       [5, 5, 5],
       [6, 6, 6],
       [7, 7, 7],
       [8, 8, 8],
       [9, 9, 9]])

In [32]:
[range(15)]*3

[range(0, 15), range(0, 15), range(0, 15)]

In [56]:
import itertools
for element in itertools.product([0,1], [0,1],[0,1],[0,1]):
    print(element)

(0, 0, 0, 0)
(0, 0, 0, 1)
(0, 0, 1, 0)
(0, 0, 1, 1)
(0, 1, 0, 0)
(0, 1, 0, 1)
(0, 1, 1, 0)
(0, 1, 1, 1)
(1, 0, 0, 0)
(1, 0, 0, 1)
(1, 0, 1, 0)
(1, 0, 1, 1)
(1, 1, 0, 0)
(1, 1, 0, 1)
(1, 1, 1, 0)
(1, 1, 1, 1)